@import "App.scss";

.about-page {
  height: auto;
  overflow: hidden;
  background-color: $bright-background-color;

  &__wrapper {
    @include margin-pages;
  }

  &__author-info {
    display: flex;
    width: 100%;
    height: auto;
    margin: 60px 0 100px 0;
  }

  &__author-image {
    min-width: 325px;
    height: 325px;
    background-image: url("/src/data/images/AleksandraMichalak.jpeg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
  }

  &__author-story {
    text-align: justify;
  }

  &__text{
    text-align: justify;
  }

  &__work-section {
    width: 100%;
    margin-top: 50px;
    padding: 0 100px 50px 100px;
    background-color: #0a0a0a;
    color: $bright-font-color;
  }

  &__work-section-title {
    padding: 50px 0 0 0;
    text-align: center;
  }

  &__work-section-small-text {
    color: $bright-font-color;
    text-align: center;
  }

  &__work-section-wrapper {
    display: flex;
    height: auto;
    margin: 50px 0;

    &:nth-of-type(2) {
      flex-flow: row-reverse;
    }
  }

  &__work-section-image {
    width: 650px;
    height: auto;
    max-width: 100%;
  }

  &__work-section-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin-left: 50px;

    &--middle {
      margin-left: 0;
      margin-right: 50px;
    }
  }

  &__work-section-text {
    color: $bright-font-color;
  }
}

@media screen and (max-width: $xxxxlarge) and (orientation: landscape) {

  .about-page {

    &__author-info {
      margin: 50px 0 50px 0;
    }

    &__work-section {
      margin-top: 80px;
      padding: 0 180px 50px 180px;
    }

    &__work-section-wrapper {
      margin: 50px 0;
    }
  }

}

@media screen and (max-width: $xxxlarge) and (orientation: landscape) {

  .about-page {

    &__author-info {
      margin: 50px 0 50px 0;
    }

    &__work-section {
      margin-top: 80px;
      padding: 0 150px 50px 150px;
    }

    &__work-section-wrapper {
      margin: 80px 0;
    }

    &__work-section-image {
      width: 550px;
    }
  }

}

@media screen and (max-width: $xxlarge) and (orientation: landscape) {

  .about-page {

    &__author-info {
      margin: 30px 0 50px 0;
    }

    &__author-image {
      min-width: 280px;
      height: 280px;
    }

    &__work-section {
      margin-top: 50px;
      padding: 0 80px 50px 80px;
    }

    &__work-section-wrapper {
      margin: 80px 0 50px 0;
    }

    &__work-section-image {
      width: 520px;
    }
  }
}

@media screen and (max-width: $xlarge) {

  .about-page {

    &__author-image {
      min-width: 200px;
      height: 200px;
    }

    &__info-wrapper {
      margin-left: 30px;
    }

    &__work-section-wrapper {
      margin: 50px 0;
    }

    &__work-section-text-wrapper {
      margin-left: 40px;

      &--middle {
        margin-left: 0;
        margin-right: 40px;
      }
    }

    &__work-section-image {
      width: 450px;
    }

  }
}

@media screen and (max-width: $large){

  .about-page {

    &__author-info {
      margin: 30px 0;
    }

    &__author-image {
      min-width: 200px;
      height: 200px;
    }

    &__info-wrapper {
      margin-left: 30px;
    }

    &__work-section-title {
      padding: 30px 0;
    }

    &__work-section {
      margin-top: 30px;
      padding: 0 50px 20px 50px;
    }

    &__work-section-wrapper {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin: 30px 0;

      &:nth-of-type(2){
        flex-direction: column-reverse;
        margin: 30px 0;
      }
    }

    &__work-section-image {
      margin-top: 30px;
      width: 500px;
    }

    &__work-section-text-wrapper {
      margin-left: 0;

      &--middle {
        margin-left: 0;
        margin-right: 0;
      }
    }

  }
}

@media screen and (max-width: $medium){

  .about-page {

    &__author-image {
      min-width: 180px;
      height: 180px;
    }

    &__work-section-image {
      margin-top: 30px;
      width: 450px;
    }

    &__work-section-text-wrapper {
      margin-left: 0;
      width: 100%;

      &--middle {
        margin-left: 0;
        margin-right: 0;
      }
    }

  }
}

@media screen and (max-width: $medium) and (orientation: portrait) {

  .about-page {

    &__author-info {
      margin: 30px 0;
    }

    &__info-wrapper {
      margin-left: 30px;
    }

    &__work-section {
      margin-top: 30px;
      padding: 0 50px 20px 50px;
    }

    &__work-section-wrapper {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin: 30px 0;

      &:nth-of-type(2){
        flex-direction: column-reverse;
        margin: 30px 0;
      }
    }

    &__work-section-image {
      margin-top: 30px;
      width: 450px;
    }

    &__work-section-text-wrapper {
      margin-left: 0;

      &--middle {
        margin-left: 0;
        margin-right: 0;
      }
    }

  }
}

@media screen and (max-width: $small){

  .about-page {

    &__author-info {
      margin: 30px 0;
    }

    &__author-image {
      min-width: 160px;
      height: 160px;
      align-self: center;
    }

    &__work-section-image {
      width: 400px;
    }

    &__work-section-title {
      padding: 30px 0 10px 0;
    }

  }
 }

@media screen and (max-width: $xsmall){

  .about-page {

    &__author-info {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 20px 0 40px 0;
    }

    &__author-image {
      min-width: 180px;
      height: 180px;
      margin-left: 0;
    }

    &__info-wrapper {
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-left: 0;
    }

    &__author-story {
      margin-right: 0;
      text-align: left;
    }

    &__text {
      text-align: left;
    }

    &__work-section {
      margin-top: 30px;
      padding: 0 50px 20px 50px;
    }

    &__work-section-title {
      padding: 30px 0 10px 0;
    }

    &__work-section-wrapper {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin: 40px 0;

      &:nth-of-type(2) {
        flex-flow: column-reverse;
      }
    }
    &__work-section-image {
      margin-top: 40px;
      width: 300px;
    }

    &__work-section-text-wrapper {
      justify-content: center;
      align-content: center;
      margin-left: 0;

      &--middle {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
