@import 'App.scss';

.home-page{
  width: 100%;
  height: 100vh;
}

.background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__slide-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    opacity: 0;

    -webkit-animation: slider 16s;
    -moz-animation: slider 16s;
    -ms-animation: slider 16s;
    -o-animation: slider 16s;
    animation: slider 16s infinite linear;

    &:nth-of-type(2){
      animation-delay: 4s;
    }

    &:nth-of-type(3){
      animation-delay: 8s;
    }

    &:nth-of-type(4){
      animation-delay: 12s;
    }
  }
}

@-webkit-keyframes slider {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes slider {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slider {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}