@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  scroll-behavior: auto;
  font-size: 10px;
}

body {
  font-size: 10px;
}

.page-title {
  padding-top: 40px;
  font-family: "Poppins", "Lato", "Open Sans", "sans-serif";
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.title {
  font-family: "Poppins", "Lato", "Open Sans", "sans-serif";
  font-size: 32px;
}

.subtitle {
  font-family: "Poppins", "Lato", "Open Sans", "sans-serif";
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.text {
  font-family: "Poppins", "Lato", "Open Sans", "sans-serif";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 32px;
}

.small-text {
  font-family: "Poppins", "Lato", "Open Sans", "sans-serif";
  font-size: 1.4rem;
  font-weight: 400;
}

.bold-text {
  font-weight: 600;
}

.button {
  width: 120px;
  height: 40px;
  margin: 10px;
  border-radius: 45px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  background-color: #1a1a1a;
  color: #FBF7EA;
  cursor: pointer;
  font-family: "Poppins", "Lato", "Open Sans", "sans-serif";
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  transition: all 0.2s ease-in-out 0s;
}
.button:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  background-color: #5b81a2;
}

.arrow {
  color: #0f0f0f;
  font-size: 3rem;
  position: fixed;
  bottom: 2%;
  right: 2%;
  cursor: pointer;
  transition: 0.2s;
}
.arrow:hover {
  color: #5b81a2;
  bottom: 2.2%;
}

@media screen and (max-width: 1920px) and (orientation: landscape) {
  .page-title {
    font-size: 3.6rem;
  }

  .title {
    font-size: 3.2rem;
  }

  .subtitle {
    font-size: 2.8rem;
  }

  .text {
    font-size: 1.8rem;
    line-height: 28px;
  }

  .small-text {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1920px) and (orientation: portrait) {
  .title {
    font-size: 3.2rem;
  }

  .subtitle {
    font-size: 2.8rem;
  }

  .text {
    font-size: 2rem;
    line-height: 30px;
  }

  .small-text {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1600px) {
  .page-title {
    font-size: 3.4rem;
  }

  .title {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 2.5rem;
  }

  .text {
    font-size: 1.7rem;
    line-height: 25px;
  }

  .button {
    width: 110px;
    height: 38px;
    font-size: 13px;
    line-height: 38px;
  }
}
@media screen and (max-width: 1440px) and (orientation: landscape) {
  .page-title {
    font-size: 3rem;
  }

  .title {
    font-size: 2.7rem;
  }

  .subtitle {
    font-size: 2.3rem;
  }

  .text {
    font-size: 1.6rem;
    line-height: 23px;
  }

  .small-text {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1440px) and (orientation: portrait) {
  .page-title {
    font-size: 3rem;
  }

  .title {
    font-size: 2.8rem;
  }

  .subtitle {
    font-size: 2.6rem;
  }

  .text {
    font-size: 1.6rem;
    line-height: 24px;
  }

  .small-text {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1200px) and (orientation: landscape) {
  .page-title {
    font-size: 2.8rem;
  }

  .title {
    font-size: 2.6rem;
  }

  .subtitle {
    font-size: 2.4rem;
  }

  .text {
    font-size: 1.4rem;
    line-height: 20px;
  }

  .button {
    width: 108px;
    height: 35px;
    font-size: 13px;
    line-height: 35px;
  }
}
@media screen and (max-width: 1200px) and (orientation: portrait) {
  .page-title {
    font-size: 2.8rem;
  }

  .title {
    font-size: 2.6rem;
  }

  .subtitle {
    font-size: 2.4rem;
  }

  .text {
    font-size: 1.4rem;
    line-height: 20px;
  }

  .button {
    width: 108px;
    height: 35px;
    font-size: 13px;
    line-height: 35px;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .page-title {
    font-size: 2.5rem;
  }

  .title {
    font-size: 2.2rem;
  }

  .subtitle {
    font-size: 2rem;
  }

  .text {
    font-size: 1.3rem;
    line-height: 18px;
  }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .page-title {
    font-size: 2.5rem;
  }

  .title {
    font-size: 2.4rem;
  }

  .subtitle {
    font-size: 2.2rem;
  }

  .text {
    font-size: 1.3rem;
    line-height: 19px;
  }
}
@media screen and (max-width: 823px) and (orientation: landscape) {
  .page-title {
    font-size: 2.4rem;
  }

  .title {
    font-size: 2.1rem;
  }

  .subtitle {
    font-size: 1.9rem;
  }

  .text {
    font-size: 1.3rem;
    line-height: 18px;
  }
}
@media screen and (max-width: 823px) and (orientation: portrait) {
  .page-title {
    font-size: 2.4rem;
  }

  .title {
    font-size: 2.2rem;
  }

  .subtitle {
    font-size: 2rem;
  }

  .text {
    font-size: 1.3rem;
    line-height: 18px;
  }
}
@media screen and (max-width: 640px) and (orientation: landscape) {
  .page-title {
    font-size: 2.2rem;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.8rem;
  }

  .text {
    font-size: 1.3rem;
    line-height: 17px;
  }

  .button {
    width: 110px;
    height: 35px;
    margin: 8px;
    font-size: 11px;
    line-height: 35px;
  }
}
@media screen and (max-width: 640px) and (orientation: portrait) {
  .page-title {
    font-size: 2.4rem;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.8rem;
  }

  .button {
    width: 110px;
    height: 35px;
    margin: 8px;
    font-size: 11px;
    line-height: 35px;
  }
}
@media screen and (max-width: 460px) {
  .page-title {
    font-size: 2.2rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}
.dropdown-menu {
  width: inherit;
  position: absolute;
  top: 90px;
  list-style: none;
  text-align: start;
  background-color: #1f1f1f;
}
.dropdown-menu--clicked {
  display: none;
}
.dropdown-menu__nav-link {
  text-align: center;
  margin: 0 0;
  display: block;
  font-size: 10px;
  cursor: pointer;
  height: auto;
  width: 100%;
  text-decoration: none;
  color: #fff;
}
.dropdown-menu__nav-link:hover {
  color: #5b81a2;
}

@media screen and (max-width: 1440px) and (orientation: landscape) {
  .dropdown-menu {
    top: 90px;
  }
}
@media screen and (max-width: 1200px) {
  .dropdown-menu {
    top: 80px;
  }
}
@media screen and (max-width: 1024px) {
  .dropdown-menu {
    top: 70px;
  }
  .dropdown-menu__nav-link {
    font-size: 7px;
  }
}

/*# sourceMappingURL=Dropdown.css.map */
