@import "App.scss";

$width-image-landscape: calc((100vw / 2) - 180px);
$height-image-landscape: calc(100vh / 2.6);

$width-image-portrait: 60vw;
$height-image-portrait: calc(100vh / 4);

@mixin projects-realizations-images {
  &__img {
    &--private {
      width: $width-image-landscape;
      height: $height-image-landscape;
      max-height: 400px;
      min-width: 100px;
      background-position: center;
      background-size: cover;
      transition: .3s ease-in-out;
      opacity: 0.85;

      &:hover {
        opacity: 1;
      }
    }

    &--public {
      width: $width-image-landscape;
      height: $height-image-landscape;
      max-height: 400px;
      min-width: 100px;
      background-position: center;
      background-size: cover;
      transition: .3s ease-in-out;
      opacity: 0.85;

      &:hover {
        opacity: 1;
      }
    }
  }
}


.realizations-page, .projects-page {
  height: auto;
  overflow: hidden;
  background-color: $bright-background-color;

  &__wrapper {
    @include margin-pages;
  }

  &__description {
    margin: 25px 0;
    line-height: 25px;
    text-align: justify;
  }

  &__elements-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 30px 20px;
  }

  &__element-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img-wrapper {
    width: $width-image-landscape;
    height: $height-image-landscape;
    max-height: 400px;
    min-width: 100px;
    overflow: hidden;
  }

  &__link {
    text-decoration: none;
    color: black;
    text-align: center;
  }

  &__subtitle {
    margin: 16px 0;
  }

  &__small-text {
    width: $width-image-landscape;
    text-align: justify;
    margin-bottom: 10px;
  }

}

.realizations-page{
  @include projects-realizations-images;
  &__img {
    &--private {
      background-image: url("/src/data/images/realizations-img1.jpg");
    }

    &--public {
      background-image: url("/src/data/images/realizations-img2.jpg");
    }
  }

}

.projects-page {
  @include projects-realizations-images;
  &__img {
    &--private {
      background-image: url("/src/data/images/img3.jpg");
    }

    &--public {
      background-image: url("/src/data/images/img2.jpg");
    }
  }
}

@media screen and (max-width: $xxxlarge) and (orientation: landscape) {

  .realizations-page {

    &__subtitle {
      margin: 14px 0;
    }
  }
}

@media screen and (max-width: $xlarge) and (orientation: landscape) {
  .realizations-page {

    &__elements-wrapper {
      margin: 20px 20px;
    }

    &__subtitle {
      margin: 12px 0;
    }
  }
}

@media screen and (max-width: $large) and (orientation: portrait) {

  .realizations-page {

    &__elements-wrapper {
      flex-direction: column;
      justify-content: space-between;
      margin: 50px 20px;
    }

    &__img-wrapper {
      width: $width-image-portrait;
      height: auto;
      max-height: 300px;
      min-width: 200px;
      overflow: hidden;
    }

    &__img {
      &--private {
        width: $width-image-portrait;
        height: $height-image-portrait;
        max-height: 300px;
        min-width: 200px;
      }

      &--public {
        width: $width-image-portrait;
        height: $height-image-portrait;
        max-height: 300px;
        min-width: 200px;
        margin-top: 20px;
      }
    }

    &__subtitle {
      margin: 16px 0;

    }

    &__small-text {
      width: $width-image-portrait;
      margin-bottom: 16px;
    }
  }
}

@media screen and (max-width: $medium) and (orientation: landscape) {

  .realizations-page {

    &__elements-wrapper {
      flex-direction: column;
      justify-content: space-between;
      margin: 20px 20px;
    }

    &__img-wrapper {
      width: $width-image-portrait;
      height: $height-image-portrait;
      max-height: 300px;
      min-height: 200px;
      min-width: 200px;
      overflow: hidden;
    }

    &__img {
      &--private {
        width: $width-image-portrait;
        height: $height-image-portrait;
        max-height: 300px;
        min-height: 200px;
        min-width: 200px;
      }

      &--public {
        width: $width-image-portrait;
        height: $height-image-portrait;
        max-height: 300px;
        min-width: 200px;
        min-height: 200px;
        margin-top: 20px;
      }
    }

    &__subtitle {
      margin: 14px 0;

    }

    &__small-text {
      width: $width-image-portrait;
      margin-bottom: 14px;

    }
  }
}

@media screen and (max-width: $medium) and (orientation: portrait) {

  .realizations-page {

    &__elements-wrapper {
      margin: 30px 20px;
    }

    &__small-text {
      width: $width-image-portrait;
      margin-bottom: 10px;
    }
  }
}
