@import "App.scss";

@mixin projects-realizations-images {
  &__img {
    &--private,
    &--public {
      width: 100%;
      height: 100%;
      background-position: bottom;
      background-size: cover;
      opacity: 0.9;
      transition: .2s;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.realizations-page, .projects-page {

  height: auto;
  overflow: hidden;
  background-color: $bright-background-color;

  &__wrapper {
    @include margin-pages;
  }

  &__elements-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 20px;
  }

  &__element-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img-wrapper {
    width: 38vw;
    height: calc(38vw * 0.5625);
    overflow: hidden;
  }

  &__link {
    text-decoration: none;
    color: black;
    text-align: center;
  }

  &__subtitle {
    margin: 16px 0;
  }

  &__small-text {
    width: 38vw;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 10px;
  }

}

.realizations-page{
  @include projects-realizations-images;
  &__img {
    &--private {
      background-image: url("/src/data/images/realizations-img1.jpg");
    }

    &--public {
      background-image: url("/src/data/images/realizations-img2.jpg");
    }
  }

}

.projects-page {
  @include projects-realizations-images;
  &__img {
    &--private {
      background-image: url("/src/data/images/img3.jpg");
    }

    &--public {
      background-image: url("/src/data/images/img2.jpg");
    }
  }
}

@media screen and (max-width: $xxxlarge) and (orientation: landscape) {

  .realizations-page,
  .projects-page{

    &__elements-wrapper {
      display: flex;
      justify-content: space-evenly;
      margin: 15px 20px;
    }

    &__img-wrapper {
      width: 40vw;
      height: calc(38vw * 0.5625);
      overflow: hidden;
    }

    &__subtitle {
      margin: 10px 0;
    }

    &__small-text {
      width: 40vw;
      font-size: 13px;
      line-height: 17px;
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: $xlarge) and (orientation: landscape) {

  .realizations-page,
  .projects-page{

    &__elements-wrapper {
      margin: 20px 0;
    }

    &__subtitle {
      margin: 12px 0;
    }

    &__small-text {
      line-height: 16px;
    }
  }
}

@media screen and (max-width: $large) and (orientation: portrait) {

  .realizations-page,
  .projects-page{

    &__elements-wrapper {
      flex-direction: column;
      justify-content: space-between;
      margin: 20px 20px;
    }

    &__img-wrapper {
      width: 60vw;
      height: calc(60vw * 0.5625);
      overflow: hidden;
    }

    &__element-wrapper {
      margin-bottom: 20px;
    }

    &__subtitle {
      margin: 16px 0;

    }

    &__small-text {
      width: 60vw;
      line-height: 16px;
      margin-bottom: 16px;
    }
  }
}

@media screen and (max-width: $medium) and (orientation: landscape) {

  .realizations-page,
  .projects-page{

    &__elements-wrapper {
      flex-direction: column;
      justify-content: space-between;
      margin: 30px 0 10px 0;
    }

    &__element-wrapper {
      margin-bottom: 10px;
    }

    &__img-wrapper {
      width: 70vw;
      height: calc(70vw * 0.5625);
      overflow: hidden;
    }


    &__subtitle {
      margin: 14px 0;

    }

    &__small-text {
      width: 70vw;
      margin-bottom: 14px;

    }
  }
}

@media screen and (max-width: $small) and (orientation: portrait) {

  .realizations-page,
  .projects-page{

    &__elements-wrapper {
      justify-content: space-between;
      margin: 20px 20px;
    }

    &__img-wrapper {
      width: 80vw;
      height: calc(80vw * 0.5625);
      overflow: hidden;
    }

    &__subtitle {
      margin: 15px 0;
    }

    &__small-text {
      width: 80vw;
      line-height: 18px;
      text-align: left;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: $xsmall) and (orientation: portrait) {

  .realizations-page,
  .projects-page{

    &__elements-wrapper {
      justify-content: space-between;
      margin: 20px 20px;
    }

    &__img-wrapper {
      width: 80vw;
      height: calc(80vw * 0.5625);
      overflow: hidden;
    }

    &__subtitle {
      margin: 15px 0;
    }

    &__small-text {
      width: 80vw;
      line-height: 18px;
      text-align: left;
      margin-bottom: 10px;
    }
  }
}